!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    include topbar
    .container
      .content
        #signupMessage.alert(style="display:none;")
          button.close(data-dismiss="alert") x
        block content
          .row-fluid
            .span9
            .span3
              .well.sidebar-nav
                h3 Secondary Content
          
      #footer.footer 
        p &copy; GStrider 2013
        script(data-main="/js/main", src="/js/vendor/require/require.js")
