extend ../layout

block content
    h3 Please sign in with your credentials
    form(action='/signup', method='POST')
        p: input(type='text', placeholder='Username')
        p: input(type='text', placeholder='Email address')
        p: input(type='password', placeholder='Password')
        p: input(type='password', placeholder='Password confirmation')
        p: input(type='submit', value='Signup')
